.m1 {
  /* margin-left: 6rem;
  margin-right: 6rem; */
}

span {
  font-family: monospace;
}

/* .stock {
   background-color: rgb(241, 241, 106); 
   border-radius: 1rem; 
   background: linear-gradient(90deg, rgb(181, 250, 159, 1) 0%, rgb(99, 224, 255, 1) 100%); 
} */